@media (max-width: 600px) {
  .carouselContainer {
    overflow: hidden;
    display: flex;
    width: auto;
    height: 100%;
    justify-content: flex-start;
    z-index: -1;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }
}
