@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Work+Sans:wght@700&display=swap');

$grey-light: #a59797; //#fdfbfb;
$grey-medium: #2c2828; //#ededef;
$grey-dark: #1f1b1b; //#2e2e34;
$primaryColor: #1e0852; //#ace8b9;
$dangerColor: #853030; //rgb(190, 67, 67);
$text-color: #ffffff; //#1a1a1d;
$bg-color: #050101;

$big-title-font: 'Work Sans', cursive;
$title-font: 'Barlow', sans-serif;
$nav-font: 'Barlow', sans-serif;
