@import 'constants.scss';
@import 'SharedStyles.scss';
.container {
  width: 100%;
}

.main {
  width: 100%;
  margin-top: 20%;
}

.footer {
  display: flex;
  background-color: $bg-color;
  flex-direction: column;
  .brandContainer {
    display: flex;
    width: 70%;
    padding: 1vw 15%;
    justify-content: space-around;
    img {
      width: 2vw;
      height: 2vw;
    }
  }
  .linksContainer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 2vw 0;
    align-self: center;
    a {
      color: $text-color;
      text-decoration: none;

      text-align: center;
      font-size: 1.2vw;
      font-family: $nav-font;
      font-weight: 300;
    }
  }
  .newsletterContainer {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    margin: 2vw 0;
    padding: 3vw 30%;
    background-color: $grey-dark;
    p {
      color: $text-color;
      margin: 0 0 1.5vw;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-family: $nav-font;
      font-size: 1.2vw;
      line-height: 1vw;
    }
    input {
      width: 70%;
      padding: 1.5% 2% 1.5%;
      font-size: 1vw;
      font-weight: 300;
      font-family: $nav-font;
      border: 0;
      height: 1vw;
      background-color: $bg-color;
      display: inline;
    }
    button {
      color: $text-color;
      background-color: $primaryColor;
      border: 0;
      margin-left: 2vw;
      padding: 1.5% 2% 1.5%;
      display: inline;
      font-size: 1vw;
      font-family: $nav-font;
      font-weight: 300;
      width: 20%;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  .coordsContainer {
    display: flex;
    padding: 2vw 0;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    align-self: center;
    .lastPhotosContainer {
      display: flex;
      align-items: center;
      img {
        width: 17.3vw;
        height: 17.3vw;
        margin-left: 0.5vw;
        object-fit: cover;
      }
    }
    .coordsWrapper {
      display: flex;
      margin-left: 0.5vw;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding: 2vw 0 3.5vw;
      background-color: #d2dcd8;
      h3 {
        font-size: 1.3vw;
        font-family: $nav-font;
        color: $grey-dark;
        font-weight: 300;
        margin: 2vw 0 1.5vw;
      }
      p {
        font-size: 1.1vw;
        margin: 0.5vw;
        margin-left: 1vw;
        color: $grey-dark;
        font-family: $nav-font;
        font-weight: 300;
        text-align: center;
      }
      .networkContainer {
        display: flex;
        align-items: center;
        width: 25%;
        transition: all 0.2s;
        img {
          width: 1.5vw;
          height: 1.5vw;
          object-fit: contain;
        }
        &:hover {
          background-color: $grey-light;
          cursor: pointer;
        }
      }
    }
  }

  .spacer {
    height: 3vw;
  }
  .endContainer {
    p {
      width: 100%;
      font-size: 1vw;
      font-family: $nav-font;
      font-weight: 300;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .main {
    width: 100%;
    margin-top: 20%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    .brandContainer {
      display: flex;
      width: 90%;
      padding: 5vw 5%;
      justify-content: space-around;
      img {
        width: 5vw;
        height: 5vw;
      }
    }
    .linksContainer {
      display: flex;
      width: 80%;
      padding: 5vw 10%;
      flex-wrap: wrap;
      justify-content: flex-start;
      a {
        color: $text-color;
        width: 50%;
        margin: 5% 0;
        font-size: 4vw;
        font-family: $nav-font;
        font-weight: 300;
        text-align: left;
      }
    }
    .newsletterContainer {
      display: flex;
      flex-direction: column;
      width: 80%;
      background-color: $grey-dark;
      padding: 10vw 10%;
      p {
        color: $text-color;
        margin: 0 0 5vw;
        font-weight: 300;
        font-family: $nav-font;
        font-size: 4vw;
        line-height: 4vw;
      }
      input {
        width: 96%;
        padding: 6% 2% 6%;
        font-size: 5vw;
        font-weight: 300;
        font-family: $nav-font;
        border: 0;
      }
      button {
        color: $text-color;
        background-color: $primaryColor;
        border: 0;
        font-size: 4vw;
        font-family: $nav-font;
        font-weight: 300;
        margin-left: 0vw;
        padding: 5% 0;
        margin-top: 5vw;
        width: 100%;
      }
    }
    .coordsContainer {
      width: 90%;
      flex-direction: column;
      .lastPhotosContainer {
        display: flex;
        align-items: center;
        img {
          width: 33.3333%;
          height: 50vw;
          margin-left: 0;
        }
      }
      .coordsWrapper {
        margin-left: 0;
        flex-direction: column;
        margin: 5vw 0;
        width: 100%;
        h3 {
          font-size: 5vw;
          margin: 6vw 0 4.5vw;
        }
        p {
          font-size: 4vw;
          margin: 5vw 0;
          margin-left: 1vw;
          width: 75%;
        }
        .networkContainer {
          width: 35%;
          img {
            width: 8vw;
            height: 8vw;
          }
        }
      }
    }

    .spacer {
      height: 20vw;
    }
    .endContainer {
      p {
        width: 100%;
        font-size: 4vw;
        font-family: $nav-font;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
