@import 'constants.scss';

.productContainer {
  width: 25%;
  margin: 0 4.16%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw 0;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  h4 {
    margin: 0vw 0;
    padding: 0.8vw 1.2vw;
    position: absolute;
    align-self: start;
    width: 100%;
    background-color: rgba($color: $primaryColor, $alpha: 0.8);
    color: $text-color;
    border-radius: 0vw;
    font-family: $nav-font;
    font-weight: 300;
    z-index: 1;
    font-size: 1vw;
    width: auto;
  }
  img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
  .titleText {
    margin: 0;
    padding: 1vw 0;
    width: 100%;
    text-align: center;
    font-family: $nav-font;
    align-self: center;
    font-size: 1.2vw;
    font-weight: 300;
  }
  .priceDetailsText {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    font-family: $nav-font;
    align-self: center;
    text-align: center;
    font-size: 0.8vw;
  }
  .priceText,
  .priceTextOutdated,
  .priceTextPromotion {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: $nav-font;
    align-self: center;
    font-weight: 300;
    font-size: 1.5vw;
  }
  .priceTextOutdated {
    text-decoration: line-through;
    width: auto;
    color: $grey-medium;
    margin-left: 0.5vw;
  }
  .priceTextPromotion {
    width: auto;
    margin-left: 2.5vw;
  }
  .promotionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .productContainer {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vw 0;
    img {
      height: 50vh;
      width: 100%;
    }
    h4 {
      padding: 3vw 3vw;
      position: absolute;
      width: 100%;
      z-index: 1;
      font-size: 3vw;
      width: auto;
    }
    .titleText {
      margin: 0;
      padding: 3vw 0;
      width: 85%;
      font-family: $nav-font;
      align-self: center;
      font-size: 5vw;
      font-weight: 300;
    }
    .priceDetailsText {
      margin: 0;
      padding: 0;
      width: 85%;
      font-weight: 300;
      font-family: $nav-font;
      align-self: center;
      font-size: 3vw;
    }
    .priceText,
    .priceTextOutdated,
    .priceTextPromotion {
      margin: 0;
      padding: 0 2vw;
      font-family: $nav-font;
      font-size: 6vw;
    }
    .priceTextOutdated {
      color: $grey-light;
    }
    .priceTextPromotion {
    }
    .promotionContainer {
      display: flex;

      width: 85%;
    }
  }
}
