@import "constants.scss";

@media (max-width: 600px) {
  .sponsorContainer {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6vw 0;
    h3 {
      margin: 0;
      padding: 4vw 0;
      font-size: 4vw;
      width: 80%;
      font-weight: 300;
      font-family: $nav-font;
      text-align: center;
    }
    p {
      width: 80%;
      font-family: $nav-font;
      font-size: 3.6vw;
      font-weight: 300;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    img {
      object-fit: cover;
    }
  }
}
